$white: #FFFFFF;

$yellow: #EEE82C;

$purple-1: #F2E3E8;
$purple-2: #E0B7C9;
$purple-3: #D18DAA;
$purple-4: #B8677D;
$purple-5: #A2506A;
$purple-6: #6c1d5f;
$purple-7: #5A1B54;
$purple-8: #4A1747;
$purple-9: #3C133B;
$purple-10: #2E0F2F;

$gray-1: #F8F9F9;
$gray-2: #EDEFF0;
$gray-3: #E2E4E6;
$gray-4: #D6DADC;
$gray-5: #CDD2D4;
$gray-6: #C4C9CC;
$gray-7: #B6BBBF;
$gray-8: #A5ACB0;
$gray-9: #959DA1;
$gray-10: #838C91;

$black: #4d4d4d;
