@use '../scss/colors';
@use '../scss/levers';
@use '../scss/fontSizes';
@use '../scss/mixins';

.Overlay {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
.LoginModule {
	background-color: colors.$gray-3;
	border-radius: levers.$border-radius;
  min-height: 310px;
  width: 350px;
	z-index: 2000;
	margin: 4% 0;
  padding: 0;
  overflow: hidden;
	.LoginModule_exit {
		width: 100%;
		display: block;
		position: relative;
		height: 35px;
		.Cancel {
			position: absolute;
			right: 14.7px;
			top: 15px;
			margin: 0;
      display: flex;
      justify-content: flex-end;
		}
	}
	.LoginModule_title {
		@include mixins.openSans(fontSizes.$large, colors.$black);
    margin: 0 auto 1px auto;
    text-align: center;
  }
  .LoginModule_description {
		@include mixins.openSans(fontSizes.$small, colors.$gray-9);
		width: levers.$list-item-width;
		margin: 0 auto;
    padding: 0 0 20px 0;
    text-align: center;
  }
  .LoginModule_logSignSwitch {
		@include mixins.openSans(fontSizes.$medium, colors.$gray-10);
		width: levers.$list-item-width;
		margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 20px 0;
    text-align: center;
    a {
      @include mixins.openSans(fontSizes.$medium, colors.$gray-10);
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .LoginModule_buttons{
    button {
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .credentials {
    input {
      margin-top: 4px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      width: 250px;
      display: block;
    }
  }
  
  :focus {
    outline: 0;
  }

  .error-box {
    background-color: colors.$purple-1;
    color: colors.$purple-6;
    padding: 15px;
    border: 1px solid colors.$purple-2;
    margin: 20px;
  }
}